<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class</title>
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="stylesheet" href="/public/css/menu.css">
        <link rel="stylesheet" href="/public/css/waiting_room.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>
    <body>
    <div id="background_container">
        <div id="background_1" class="background_base"></div>
        <div id="background_2" class="background_base"></div>
    </div>
    <div id="container">
        <div id="top_container">
            <span><%=user_name%>님! Z-Class에 오신 것을 환영합니다 !</span>
            <div id="user_btn_container">
                <button id="btn_modify_user_info">정보수정</button>
                <button id="btn_logout"  onclick="location.href='/user/logout';">로그아웃</button>
            </div>
        </div>

        <div id="main_container">
            <form method="post">
                <div id="course_container">
                    <div id="course_list">
                        <% for (let i=0; i < user_courses.length; i++ ){ %>
                            <input
                                type="radio"
                                name="course_objectId"
                                value="<%=user_courses[i]._id%>"
                                id="<%=user_courses[i]._id%>"
                                required="required">
                            <label for="<%=user_courses[i]._id%>"><%=user_courses[i].title%></label>
                        <% } %>
                    </div>
                </div>
                <button id="btn_enter_course" formaction="/class">강의 입장</button>
                <div id="sub_btn_container">
                    <button id="btn_modify_course" formaction="/course/modify">강의 수정</button>
                    <button type="button" id="btn_make_course"  onclick="location.href='/course/make_course';">강의 추가</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/public/js/waiting_room.js"></script>
</body>

</html>