<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class 강의 생성</title>
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="stylesheet" href="/public/css/menu.css">
        <link rel="stylesheet" href="/public/css/waiting_room.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div id="container">
        <div id="background_container">
            <div id="background_1" class="background_base"></div>
            <div id="background_2" class="background_base"></div>
        </div>

        <div id="course_info_container" class="main_container">
            <h1>강의 만들기</h1>
            <form action="/course/make_course" method="post">
                <input type="text" name="title" placeholder="강의명" required="required">

            <!-- 수업 요일 & 시작 시간이 담김, 추가 / 삭제가 이 안에서 이루어짐 -->
                <div class="class_container">          
                    <div class="option_title">
                        <span class="sub_title">⏰ <b>수업 시간</b> ⏰</span>
                        <button type="button" id="btn_remove_course" disabled>➖</button>
                        <button type="button" id="btn_add_course">➕</button>
                    </div>
                <!-- 수업 요일 -->
                    <div id="day1_container" class="day_container">
                        <span>&nbsp;수업 1 - </span>
                        <select name="day1" required>
                            <option value="">요일</option>
                            <option value="Sun.">일요일</option>
                            <option value="Mon.">월요일</option>
                            <option value="Tue.">화요일</option>
                            <option value="Wed.">수요일</option>
                            <option value="Thu.">목요일</option>
                            <option value="Fri.">금요일</option>
                            <option value="Sat.">토요일</option>
                        </select>
                        &nbsp;
                        <!-- 수업 시작 시간 -->
                        <select name="hour1" required>
                            <option value="">시</option>
                            <% for(let i=9; i<23; i++){ %>
                            <option value="<%=i%>"><%=i%></option>
                            <% } %>
                        </select>
                        <span>&nbsp;:&nbsp;</span>
                        <select name="minute1" required>
                            <option value="">분</option>
                            <% for(let i=0; i<12; i++){ %>
                            <option value="<%=5*i%>"><%=5*i%></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <!-- 선생님과 같은 소속인 학생들의 checkbox가 담김, 강의를 수강하는 학생들을 체크-->
                <div id="students_container">
                    <span class="sub_title">🙋‍♀️ <b>학생 목록</b> 🙋‍♂️</span>
                    <div id="students_list_wrapper">
                        <div id="students_list">
                        <!-- 학생들의 checkbox를 ejs로 생성 -->
                            <% for (let i=0; i < students.length; i++ ){ %>
                            <label><input type="checkbox" name="students" value="<%=students[i]._id%>">
                            <%=students[i].name%>, <%=students[i].grade%>학년</label>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="sub_btn_container last_content">
                    <button type="button" class="btn_back" onclick="location.href='/';">취소</button>
                    <button type="submit" class="btn_main">생성</button>
                </div>
            </form>
        </div>
        </div>
        <script src="/public/js/2_waiting_room/make_course.js"></script>
    </body>

</html>