<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class 대기실</title>
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="stylesheet" href="/public/css/menu.css">
        <link rel="stylesheet" href="/public/css/waiting_room.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div id="background_container">
            <div id="background_1" class="background_base"></div>
            <div id="background_2" class="background_base"></div>
        </div>
        <div id="container">
            <div id="top_container">
                <span id="msg_hi"><%=user_name%>님! Z-Class에 오신 것을 환영합니다 ! </span>
                <button id="btn_modify_user_info">정보수정</button>
                <button id="btn_logout" class="btn_back"  onclick="location.href='/user/logout';"> 로그아웃</button>
            </div>

            <div id="waiting_room_container" class="main_container">
                <div class="title_container">
                    <h1>대기실</h1>
                    <button type="button" id="btn_change_list">Today</button>
                </div>
                <form id="form_course" method="post" action="/class">
                    <div id="course_container">
                        <div id="course_list">
                            <% for (let i=0; i < user_courses.length; i++ ){ %>
                                <input type="radio" name="course_objectId" value="<%=user_courses[i]._id%>" id="<%=user_courses[i]._id%>" class="course" required="required"
                                    <% for(let j=0; j< user_courses[i].time.length;j++){ %>
                                        data-day<%=j%>="<%=user_courses[i].time[j].day%>"
                                        data-hour<%=j+1%>="<%=user_courses[i].time[j].hour%>"
                                        data-minute<%=j+1%>="<%=user_courses[i].time[j].minute%>"
                                    <% } %>>
                                    <div id="label_<%=user_courses[i]._id%>_container">
                                        <label for="<%=user_courses[i]._id%>"id="label_<%=user_courses[i]._id%>"class="label_title display_none"><%=user_courses[i].title%></label>
                                        <label for="<%=user_courses[i]._id%>"id="label_tiem_info_<%=user_courses[i]._id%>" class="label_time_info display_none"><%=user_courses[i].time[0].hour%>:<%=user_courses[i].time[0].minute%></label>
                                    </div>
                            <% } %>
                        </div>
                    </div>
                    <button type="button" id="btn_enter_course" class="last_content btn_main">수업 참가</button>
                </form>
            </div>
        </div>    
        <div id="alert_container" class="display_none">
            <div id="alert_wrapper">
                <span id="span_alert"></span>
                <button onclick="document.querySelector('#alert_container').classList.add('display_none');">확인</button>
            </div>
        </div>
        <div id="alert_container" class="display_none">
            <div id="alert_wrapper">
                <span id="span_alert"></span>
                <button id="btn_alert" onclick="document.querySelector('#alert_container').classList.add('display_none');">확인</button>
            </div>
        </div>
        <script src="/public/js/etc/alert.js"></script>
        <script src="/public/js/2_waiting_room/waiting_room.js"></script>
    </body>

</html>