<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class 강의화면</title>
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="stylesheet" href="/public/css/class.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div id="background_container">
            <div id="background_1" class="background_base"></div>
            <div id="background_2" class="background_base"></div>
        </div>
        <div id="container">
        <div id="container_teacher">
            <div id="topContainer">
                <!-- 학생 화면 영역 -->
                <div id="studentsMediaWrapper">
                    <div id="studentsMediaContainer"></div>
                    <div id="btnLeftStudentContainer" class="btnScrollContainer">
                        <div class="btnScroll">◀</div>
                    </div>
                    <div id="btnRightStudentContainer" class="btnScrollContainer">
                        <div class="btnScroll">▶</div>
                    </div>
                </div>
            </div>
            <div id="mainContainer">
                <!-- 선생님 화면 영역-->
                <div id="teacher_media_container">

                </div>


            </div>
            <div id="sideContainer">
                <!-- 강의 정보 영역 -->
                <div id="classInfoContainer">
                    <div id="class_info_title" class="menu_title">출석부</div>
                    <div id="attendance_info_container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i=0; i < course_info.students.length; i++ ){ %>
                                        <tr>
                                        <td id="td_name_<%=course_info.students[i]%>"><%=students_info.find(ele=>ele._id.equals(course_info.students[i])).name%></td>
                                        <td id="td_attendance_<%=course_info.students[i]%>">결석</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                    </div>
                    <!-- <button id="btn_check_attendance">출석 체크</button> -->
                </div>

                <!-- 채팅방 영역 -->
                <div id="chatRoomContainer">
                    <div id="chatRoom">
                        <div id="chatRoomTitle" class="menu_title">✉</div>
                        <div id="messageBox"></div>
                        <input type="text" id="inputBox" placeholder="Enter Message...">
                    </div>
                </div>
                <!-- 옵션 영역 -->
                <div id="optionContainer">
                    <div id="btnCamSwitch" class="btnOptions">Cam OFF</div>
                    <div id="btnMicSwitch" class="btnOptions">Mic ON</div>
                    <div id="btnExit" class="btnOptions btn_back">Exit</div>
                </div>
            </div>
        </div>
    </div>
        <script>
            let time_infos = '<%-JSON.stringify(course_info.time)%>';
            time_infos = JSON.parse(time_infos);
            const student_ids = [];
            <% for (let i=0; i < course_info.students.length; i++ ){ %>
                student_ids.push("<%=course_info.students[i]%>");
            <% } %>
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/3_class/class.js"></script>
        <script src="/public/js/3_class/class_teacher.js"></script>
    </body>
</html>